<% @page_title = "収入科目一覧" %>
<h2><%= @page_title %></h2>

<% if @incomes.present? %>
<% @incomes.each do |income| %>
<table>
  <thead>
    <tr>
      <th>科目名</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= income.name %></td>
      <td><%= income.description %></td>
    </tr>
  </tbody>
</table>
<% end %>

<% else %>
  <p>登録されている収入科目はありません。</p>
<% end %>